<%# @param block [Block] %>
<%# @param readonly [TrueClass, FalseClass] %>

<% readonly rescue readonly = false %>


<% unless readonly %>
  <%= render :partial => "blocks/toolbar", 
             :object => block, :as => "block",
             :locals => {:readonly => readonly } %>
<% end %>

<!-- <div style="float:right">TODO: USE AUTOVIEW FOR THE TITLE</div> -->
<%= autosave_fld block, :title, :tag => "h4", :autoview => true %>

<%= render :partial => "blocks/block_items", 
           :object => block, :as => "block",
           :locals => {:readonly => readonly } %>
