<div class="btn-toolbar">
  <div class="btn-group">
    <a id="create_block" class="btn" href="#" 
       data-trigger-event="CreateProjectBlock"
       data-param-project="<%= @project.id %>"
       data-param-title="<new section>">
         <i class="icon-plus"></i>
    </a>
    <a id="delete_block" class="btn" href="#" 
       data-trigger-event="DeleteRecords"
       data-param-targets="${getSelectedBlockRecords()}">
         <i class="icon-minus"></i>
    </a>
  </div>
  <h4>Sections</h4>
</div>