<%# @param project [Project] %>

<%= render :partial => 'projects/project_title_desc', 
           :object => @project, 
           :as => "project" %>

<button class="btn" id="create_block"
        data-trigger-event="CreateProjectBlock"
        data-param-project="${new Project(<%= @project.id %>)}"
        data-param-title="<new section>">
  Create new block</button>

<div id="block_content" style="display:none" class="">

</div>

<div id="project_blocks">
<% project.blocks.each do |block| %>
  <%= render :partial => "blocks/block_thumb", 
             :object => block, :as => "block",
             :locals => { :readonly => true } %>
<% end %>
</div>
