
<div style="position:relative">

  <%= render :partial => "items/fig-image",
             :object => item, 
             :as => "item" %>

  <div class="loadingDiv"><div class="loadingInnerDiv">
    <!-- <div id="block_1" class="barlittle"></div> -->
    <!-- <div id="block_2" class="barlittle"></div> -->
    <!-- <div id="block_3" class="barlittle"></div> -->
    <!-- <div id="block_4" class="barlittle"></div> -->
    <!-- <div id="block_5" class="barlittle"></div> -->

    <div class="ball"></div>
    <div class="ball1"></div>
  </div></div>

</div>
