
<div class="block_item html_item">
  <%= autosave_fld item, :html, 
                   :tag => "div",
                   :class => "html_item_edit",
                   :multiline => "true",
                   :escape_body => false %>
</div>

