<%# @param item [Item] %>
<%# @param comment_list_id [String] %>

  <div class="block_item_comments">
    <div id="<%= comment_list_id %>" class="comment_list">
      <div class="comment_items">
        <%= autoview lambda{{:collection => item.comments,
                             :partial => "comments/comment", :as => "comment"}} %>
        <%# item.comments.each do |comm| %>
          <%#= render :partial => "comments/comment", :as => "comment", :object => comm %>
        <%# end %>
      </div>

      <div class="post_comment">
        <%= autotrigger CreateAndAddComment, :message,
            :params => { :item => item },
            :tag => "input",
            :class => "post_comment_text cancel_draggable",
            :multiline => false,
            :type => "text",
            :escape_body => true %>
      </div>
    </div>
  </div>

