<div class="block_item text_item">
  <%= autosave_fld item, :text, 
                   :tag => "textarea",
                   :class => "plain_text_item_edit",
                   :escape_body => true %>
</div>
