@import "bootstrap/mixins";
@import "bootstrap/variables";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$niceBlue: rgba(82,168,236,.8);

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin inline-blck {
  display: inline-block;
  vertical-align: middle;
}

@mixin no-decoration {
  &:hover { text-decoration: none; }  
}

@mixin text-item {
  padding: 5px;
  margin: 0px;
  margin-right: 5px;
  min-width: 140px;
  @include inline-blck;
  @include no-decoration;
}