@import "red-mixins";
@import "mixins";

#edit_project_btn {
  float: right;
  margin-top: 0px;
}

#project_title {
  padding: 4px 10px 4px 10px;
}

.block-toolbar {
  h4 {
    @include va-center;
  }
  
  .btn-group {
    float: none;
    @include va-center;
    margin-left: 10px;
  }
  
  .btn {
    padding: 1px 3px 1px 3px;
  }
}

.block {
  margin-left: 2px;
  font-weight: normal;
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  background-color: white;
}

.block-selected {
  font-weight: bold !important;
}

.block:hover, .block:focus {
  text-decoration: none;
}

#no_block_selected {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

#new_proj {
  float: right;
}

#block_content_toolbar {
  float: right;
  text-align: right;
  padding: 10px;
}

.project-blocks {
  width: 13%;
  float: left;
}

#block_content {
  width: 83%;
  float: right;
  
  #block_items {
    width: 100%;
    height: 200px;
    resize: vertical;
    overflow-y: scroll;
  }

  .block_item {
    margin: 5px;
    float: left;
    clear: none;
    padding: 5px;
    border: 1px solid $gray;
    @include border-radius(5px);
  }

  .block_item_header {
    @include border-radius(5px);
    margin-bottom: 10px;
    cursor: move;
  }

  .to_right{ 
    float: right; 
    @include inline-blck;
  }

  .item_title {
    text-align: left;
    font-weight: normal;
    margin-left: 5px;
    font-size: 14px;
    @include inline-blck;
  }

  .delete_item_button {
    padding: 0px;
    margin: 10px;
    font-size: 12px;
  }

  .plain_text_item_edit, .html_item_edit {
    padding: 5px;
    margin: 0px;
    margin-right: 5px;
    resize: both;
    overflow: auto;
    cursor: pointer;
    min-width: 140px;
    @include inline-blck;
    @include no-decoration;
  }

  .html_item_edit {
  }

  .plain_text_item_edit {
  }

  .item_img {
    cursor: pointer;
  }
}

img.figure {
  width: 300px;
  height: auto;
  min-height: 100px;
  min-width: 100px;
}

