@import "red-mixins";
@import "mixins";

.block-preview-outer {
  width: 32%;
  height: 500px;
  display: inline-block;
  text-align: center;
  margin: 2px;
  margin-bottom: 4px;
  padding: 2px;
  border: 2px solid $gray;
  @include border-radius(5px);
  @include box-sizing;
}

.block-preview-inner {
}

.block {
  border: 1px solid green;
}