@import "red-mixins";
@import "mixins";
@import "bootstrap/sprites";

.proj_title {
  margin-bottom: 5px;
}

.proj_desc {
  display: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.figure-caption {
  font-size: 12px;

  .caption-text {
    display: inline-block;
    cursor: pointer;
    padding: 0px 3px 0px 3px;
    vertical-align: top;
  }
}

.file_icon {
  width: 96px;
  height: 96px;
}

.file-meta {
  text-align: center;
  font-size: 12px; 
  width: 100px;
  @include border-radius(5px);
  background-color: $grayLighter;
}

.show_desc {
  vertical-align: middle;
  cursor: pointer;
}

.show_desc.hiding {
  @extend .icon-chevron-down
}

.show_desc.showing {
  @extend .icon-chevron-up
}

#edit_project_btn {
  float: right;
  margin-top: 0px;
}

#project_title {
  padding: 4px 10px 4px 10px;
}

.block-toolbar {
  h4 {
    @include va-center;
  }

  .btn-group {
    float: none;
    @include va-center;
    margin-left: 10px;
  }

  .btn {
    padding: 1px 3px 1px 3px;
  }
}

.block {
  margin-left: 2px;
  font-weight: normal;
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  background-color: white;
}

.block-selected {
  font-weight: bold !important;
}

.block:hover, .block:focus {
  text-decoration: none;
}

#no_block_selected {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

#new_proj {
  float: right;
}

#block_content_toolbar {
  float: right;
  text-align: right;
  padding: 10px;
}

.project-blocks {
  width: 13%;
  float: left;
}

#block_content {
  width: 83%;
  float: right;

  #block_items {
    width: 100%;
    height: 500px;
    resize: vertical;
    overflow-y: scroll;
  }

  .block_item {
    margin: 5px;
    float: left;
    clear: none;
    padding: 5px;
    border: 1px solid $gray;
    @include border-radius(5px);
  }

  .block_item.block_item_Attachment {
    border: none;
  }

  .block_item_header {
    @include border-radius(5px);
    margin-bottom: 10px;
    cursor: move;
  }

  .to_right{
    float: right;
    @include inline-blck;
  }

  .item_title {
    text-align: left;
    font-weight: normal;
    margin-left: 5px;
    font-size: 14px;
    @include inline-blck;
  }

  .delete_item_button {
    padding: 0px;
    margin: 10px;
    font-size: 12px;
  }

  .plain_text_item_edit, .html_item_edit {
    padding: 5px;
    margin: 0px;
    margin-right: 5px;
    resize: both;
    overflow: auto;
    cursor: pointer;
    min-width: 140px;
    @include inline-blck;
    @include no-decoration;
  }

  .html_item_edit {
  }

  .plain_text_item_edit {
  }

  .item_img {
    cursor: pointer;
  }
}

.item_actions_tbar {
  float: right;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  margin-top: 5px;
  margin-right: 5px;

  .action_btn {
    cursor: pointer;
    opacity: 0.2;
    padding: 0px 3px 0px 3px;
    border: 1px solid black;
    margin-right: 2px;
    margin-left: -5px;

    &:hover {
      opacity: 0.7;
    }
  }
}

img.figure {
  min-width: 100px;
  min-height: 100px;
}

.figure-container {
  position: relative;
}

.fig-img-updating {
  opacity: 0.3;
}

.loadingDiv {
  z-index: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0px;
  /* margin: -25px 0px 0px -25px; */
  display: none;

  .loadingInnerDiv {
      position: relative;
      left: -50%;
      margin-top: -50%;
  }

  .ball {
      background-color: rgba(0,0,0,0);
      border: 5px solid rgba(0,183,229,0.9);
      opacity: .9;
      border-top: 5px solid rgba(0,0,0,0);
      border-left: 5px solid rgba(0,0,0,0);
      border-radius: 50px;
      box-shadow: 0 0 35px #2187e7;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      -moz-animation: spin .5s infinite linear;
      -webkit-animation: spin .5s infinite linear;
  }

  .ball1 {
      background-color: rgba(0,0,0,0);
      border: 5px solid rgba(0,183,229,0.9);
      opacity: .9;
      border-top: 5px solid rgba(0,0,0,0);
      border-left: 5px solid rgba(0,0,0,0);
      border-radius: 50px;
      box-shadow: 0 0 15px #2187e7;
      width: 30px;
      height: 30px;
      margin: 0 auto;
      position: relative;
      top: -50px;
      -moz-animation: spinoff .5s infinite linear;
      -webkit-animation: spinoff .5s infinite linear;
  }

  .barlittle {
    background-color: #2187e7;
    background-image: -moz-linear-gradient(45deg, #2187e7 25%, #a0eaff);
    background-image: -webkit-linear-gradient(45deg, #2187e7 25%, #a0eaff);
    border-left: 1px solid #111;
    border-top: 1px solid #111;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    width: 10px;
    height: 10px;
    float: left;
    margin-left: 5px;
    opacity: 0.1;
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-animation: move 1s infinite linear;
    -webkit-animation: move 1s infinite linear;
  }

  #block_1 {
    -moz-animation-delay: .4s;
    -webkit-animation-delay: .4s;
  }

  #block_2 {
    -moz-animation-delay: .3s;
    -webkit-animation-delay: .3s;
  }

  #block_3 {
    -moz-animation-delay: .2s;
    -webkit-animation-delay: .2s;
  }

  #block_4 {
    -moz-animation-delay: .3s;
    -webkit-animation-delay: .3s;
  }

  #block_5 {
    -moz-animation-delay: .4s;
    -webkit-animation-delay: .4s;
  }
}

@-moz-keyframes move {
    0%   { -moz-transform: scale(1.2); opacity: 1; }
    100% { -moz-transform: scale(0.7); opacity: 0.1; }
}

@-webkit-keyframes move {
    0%   { -webkit-transform: scale(1.2); opacity: 1; }
    100% { -webkit-transform: scale(0.7); opacity: 0.1; }
}


@-moz-keyframes spin {
    0%   { -moz-transform: rotate(0deg);}
    100% { -moz-transform: rotate(360deg); }
}

@-moz-keyframes spinoff {
    0%   { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(-360deg); }
}

@-webkit-keyframes spin {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes spinoff {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(-360deg); }
}
